@import url('https://fonts.googleapis.com/css?family=Monoton');

*{
    padding: 0;
    margin: 0;
}
html,body{
    overflow-y: hidden;
}

header{
    height: 3rem;
    background-color: rgb(89, 102, 116);
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-family: "Monoton", Helvetica, sans-serif;
    letter-spacing: 5px;
    display: inline;
    text-transform: uppercase;
    color: #F49E4C;
    font-size: .75rem;
}
@supports (-webkit-background-clip: text) {
	h1 {
		color: transparent;
		background: linear-gradient(7deg, #F5EE9E 50%, #F49E4C 0);
		-webkit-background-clip: text;
	}
}
.lineheight>a{
    background-color: slategray;
    border-top: 1px solid rgb(0, 0, 0, 0.5);;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    margin-top: 5px;
}
.lineheight>a:hover{
    background-color: rgb(0, 0, 0, 0.5);
}

li{
    list-style: none;
    user-select: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    padding: 4px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    width: 100%;
    margin-top: 1rem;

}

  .close {
    height: 1rem;
    width: 1rem;
    margin-left: 5px;
    cursor: pointer;
  }
  .edit{
      height: 1rem;
      width: 1rem;
      cursor: pointer;
  }
.input{
    height: 2rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.todo{
    width: 100%;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin-top: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/*Återanvändbara kodstycken*/

.absolute{position: absolute;}

.vh-100{height: 100vh;}

.w-100{width: 100%;}

.h-100{height: 100%;}

.flex{display: flex;}

.flex-col{flex-direction: column;}

.justify-end{justify-content: flex-end;}

.justify-center{justify-content: center;}

.align-center{align-items: center;}

.mr-4{margin-right: 1rem;}

.mt-1{margin-top: 1rem;}

.z-100{z-index: 100;}

.z-10{z-index: 10;}

.red{background-color: #E60026;}
.red:hover{background-color: #b3001d;}

.blue{background-color: lightblue;}

.slategray{background-color: slategray;}

.emojiSize{font-size: 5rem;}

.lineheight{line-height: 4rem;}

.font-2r{font-size: 2rem;}

.uppercase{text-transform: uppercase;}

/*Animationer*/

@keyframes slide{
    100% { right: 0; }
}

/*Media quaries*/

@media (min-width: 770px) {
    
    .calendar{
        display: flex;
        flex-direction: column;
    }
    .todo{
        width: 20vw;
    }
    li{
        max-width: 20vw;
    }
    .modal-content {
        width: 40%;

    }

}
@media (min-width:300px){
    h1{
        font-size: 1rem;
    }
}
@media (min-width:400px){
    h1{
        font-size: 1.5rem;
    }
}
@media (min-width:480px){
    h1{
        font-size: 2rem;
    }
}
