
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .calendar {
    display: none;
    position: relative;
    height: 90vh;
    width: 75vw;
    background-color: rgb(89, 102, 116);
    margin-top: 1rem;
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: grid;
    grid-template-columns: repeat(7,1fr);
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    padding: 0.2rem;
  }
  
  .days > div {
    font-size: 1.4rem;
    margin: 0.3rem;
    background-color: #777;
    
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days > div:hover {
    filter: brightness(50%);
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    filter: brightness(90%);
  }
  
  .today {
    background-color: #167e56 !important;
  }

  .red-day{
    background-color: red !important;
  }
  :root {
    --borderWidth: 2px;
    --height: 12px;
    --width: 6px;
    --borderColor: aqua;
  }
  .date-selected {
    /*
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
    */
  } 

  #selected {
    margin-left: 5px;
    display: none;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  }

  .date-selected #selected {
    display: inline-block;
  }

  .day{

  }

  .holiday{

  }

  .todocount{
    
  }

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#todo-edit-modal > .modal-content {
  display: flex;
  flex-direction: column;
}

#todo-edit-modal .buttons {
  display: flex;
  justify-content: flex-end;
}

#todo-edit-modal .header {
  display: flex;
  justify-content: space-between
}

#todo-edit-modal #close {
  font-size: 20px;
}

#todo-edit-modal #close:hover {
  cursor: pointer;
}