.calendar{
    display: flex;
    position: relative;
    height: 90vh;
    width: 75vw;
    background-color: rgb(89, 102, 116);
    margin-top: 1rem;
}

.date-grid {
    height: 80vh;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 0.5rem;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -47%);
}

.date-grid > section{
    border: 1px solid black;
    background-color: #F1F1F1;
}

.day-of-week{
    display: grid;
    height: 5vh;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
}

.day-of-week > section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-of-week-bg{
    height: 5vh;
    width: 100%;
    background-color: rgb(26, 91, 165);
}


.next-month{
    background-color: #a0a0a0 !important;
}